::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--fg-color);
    transition: .125s;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}

::-webkit-scrollbar-thumb:active {
    background: var(--hl-color);
}

::-webkit-scrollbar-corner {
    background: var(--fg-color);
}