.amethyst {
	--bg-color: #e2caea !important;
	--font-color: #480c51 !important;
	--hl-color: #ab395f !important;
	--fg-color: #9774aa !important;
	--error-color: #d62436 !important;
	--correct-color: #ab395f !important;
}

.azure {
    --bg-color: #383e56 !important;
	--font-color: #eedad1 !important;
	--hl-color: #f69e7b !important;
	--fg-color: #d4b5b0 !important;
	--error-color: #d62436 !important;
	--correct-color: #f69e7b !important;
}

.coral {
	--bg-color: #fdd2bf !important;
	--font-color: #df5e5e !important;
	--hl-color: #492f10 !important;
	--fg-color: #e98580 !important;
	--error-color: #d62436 !important;
	--correct-color: #492f10 !important;
}

.forest {
	--bg-color: #334443 !important;
	--font-color: #fff8df !important;
	--hl-color: #c6ffc1 !important;
	--fg-color: #34656d !important;
	--error-color: #d62436 !important;
	--correct-color: #c6ffc1 !important;
}

.mkbhd {
	--bg-color: #171717 !important;
	--font-color: #ededed !important;
	--hl-color: #da0037 !important;
	--fg-color: #444444 !important;
    --error-color: #d62436 !important;
	--correct-color: #ededed !important;
}

.mocha {
	--bg-color: #2d2424 !important;
	--font-color: #e0c097 !important;
	--hl-color: #dc521c !important;
	--fg-color: #5c3d2e !important;
	--error-color: #d62436 !important;
	--correct-color: #dc521c !important;
}

.ocean {
	--bg-color: #dddddd !important;
	--font-color: #125d98 !important;
	--hl-color: #f5a962 !important;
	--fg-color: #3c8dad !important;
	--error-color: #d62436 !important;
	--correct-color: #f5a962 !important;
}

.rose-milk {
	--bg-color: #ffffff !important;
	--font-color: #111111 !important;
	--hl-color: #b33838 !important;
	--fg-color: #3b8792 !important;
	--error-color: #d62436 !important;
	--correct-color: #b33838 !important;
}

.violet-night {
	--bg-color: #101820 !important;
	--font-color: #eedaea !important;
	--hl-color: #ae50bb !important;
	--fg-color: #292136 !important;
	--error-color: #d62436 !important;
	--correct-color: #ae50bb !important;
}

.aqua {
	--bg-color: #294851 !important;
    --font-color: #b9d7e1 !important;
    --hl-color: #73c1d9 !important;
    --fg-color: #34656d !important;
    --error-color: #d62436 !important;
    --correct-color: #73c1d9 !important;
}

.halloween {
	--bg-color: #32313c!important;
    --font-color: #e7d00d!important;
    --hl-color: #e8880c !important;
    --fg-color: #a57639 !important;
    --error-color: #d62436 !important;
    --correct-color: #d3c933 !important;
}

.paradise {
	--bg-color: #1d2f36!important;
    --font-color: #54bc6d!important;
    --hl-color: #15a6ca !important;
    --fg-color: #719084!important;
    --error-color: #d62436 !important;
    --correct-color: #15a6ca !important;
}

.joker {
	--bg-color: #3a303e!important;
    --font-color: #6fb24f!important;
    --hl-color: #8347a3!important;
    --fg-color: #975d23!important;
    --error-color: #d62436 !important;
    --correct-color: #8510c5 !important;
}

.pink-hades {
	--bg-color: #1a181a !important;
    --font-color: #dd94ce !important;
    --hl-color: #d1227b!important;
    --fg-color: #292136 !important;
    --error-color: #ff2f00 !important;
    --correct-color: #d1227b !important;
}